.blog-1 {
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: 49% 49%;
    grid-template-areas: "col-1 col-2";
    justify-content: space-between;
    /* gap: 1em; */
}

.blog-1-col-1 {
    grid-area: col-1;
    /* margin: 10px; */
}

.blog-1-col-2 {
    grid-area: col-2;
    display: grid;
    grid-template-rows: 49% 49%;
    grid-template-areas: "row-1" "row-2";
    /* justify-content: center; */
    align-content: space-between;
}

.blog-1-col-2-row-1 {
    grid-area: row-1;
}

.blog-1-col-2-row-2 {
    grid-area: row-2;
}