.menu-icon {
    display: block;
}

@media (max-width:599px) {

    .grid-2-row-1,
    .grid-2-row-2 {
        display: block;
        width: 100%;
    }

    .grid-2-row-1>img {
        width: 100%;
    }

    .grid-2-row-2>img {
        width: 100%;
    }

    .grid-2-row-1>div {
        margin-inline: 0;
        margin-block: 24px;
    }

    .grid-2-row-2>div {
        margin-inline: 0;
        margin-block: 24px;
    }
}





/* Medium Screens */
@media (min-width: 600px) and (max-width:1150px) {


    .navbar {
        display: none;
    }

    .title {
        font-size: 7em;
    }


    .grid-1>.grid-1-col-1>div>img {
        width: 100%;
    }

    .grid-1>.grid-1-col-1>img {
        width: 100%;
    }

    /* //////////////////// */

    .grid-2-row-1>img {
        margin-inline: 0;
        margin-block: 24px;
    }

    .grid-2-row-2>img {
        margin-inline: 0;
        margin-block: 24px;
    }

    .grid-2-row-1>div {
        margin-inline: 24px;
        margin-block: 24px;
    }

    .grid-2-row-2>div {
        margin-inline: 24px;
        margin-block: 24px;
    }
}













/* Large Screens */

@media (min-width:1151px) {
    .menu-icon {
        display: none;
    }

    .navbar {
        display: block;
    }

    .title {
        font-size: 15em;
    }

    /* grid */
    .grid-1 {
        display: grid;
        grid-template-columns: 50% 47%;
        grid-template-areas: "col-1 col-2";
        justify-content: space-between;
    }

    .grid-1-col-1 {
        grid-area: col-1;
    }

    .grid-1-col-2 {
        grid-area: col-2;

    }

    .grid-2 {
        display: grid;
        grid-template-rows: 45% 45%;
        grid-template-areas: "row-1" "row-2";
        align-content: space-between;
    }

    .grid-2-row-1 {
        grid-area: row-1;
    }

    .grid-2-row-2 {
        grid-area: row-2;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 34% 34% 34%;
        grid-template-areas: "col-1 col-2 col-3";
        justify-content: space-between;
    }

}