.menu-icon {
    display: block;
}

@media (max-width:599px) {

    .grid-2-row-1,
    .grid-2-row-2 {
        display: block;
        width: 100%;
    }

    .grid-2-row-1>img {
        width: 100%;
    }

    .grid-2-row-2>img {
        width: 100%;
    }

    .grid-2-row-1>div {
        margin-inline: 0;
        margin-block: 24px;
    }

    .grid-2-row-2>div {
        margin-inline: 0;
        margin-block: 24px;
    }
}





/* Medium Screens */
@media (min-width: 600px) and (max-width:1150px) {


    .navbar {
        display: none;
    }

    .title {
        font-size: 7em;
    }


    .grid-1>.grid-1-col-1>div>img {
        width: 100%;
    }

    .grid-1>.grid-1-col-1>img {
        width: 100%;
    }

    /* //////////////////// */

    .grid-2-row-1>img {
        margin-inline: 0;
        margin-block: 24px;
    }

    .grid-2-row-2>img {
        margin-inline: 0;
        margin-block: 24px;
    }

    .grid-2-row-1>div {
        margin-inline: 24px;
        margin-block: 24px;
    }

    .grid-2-row-2>div {
        margin-inline: 24px;
        margin-block: 24px;
    }



    .grid-3 {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: auto auto auto;
        /* grid-template-rows: 34% 34% 34%; */
        grid-template-areas:
            "item-1 item-2 "
            "item-3 item-4"
            "item-5 item-6";
        justify-content: space-between;
    }

    .grid-3-item-1 {
        grid-area: item-1;
    }

    .grid-3-item-2 {
        grid-area: item-2;
    }

    .grid-3-item-3 {
        grid-area: item-3;
    }

    .grid-3-item-4 {
        grid-area: item-4;
    }

    .grid-3-item-5 {
        grid-area: item-5;
    }

    .grid-3-item-6 {
        grid-area: item-6;
    }

    /* .grid-3-item-1,
    .grid-3-item-2,
    .grid-3-item-3,
    .grid-3-item-4,
    .grid-3-item-5,
    .grid-3-item-6 {
        margin: 20px;
    } */
}













/* Large Screens */

@media (min-width:1151px) {
    .menu-icon {
        display: none;
    }

    .navbar {
        display: block;
    }

    .title {
        font-size: 15em;
    }

    /* grid */
    .grid-1 {
        display: grid;
        grid-template-columns: 50% 47%;
        grid-template-areas: "col-1 col-2";
        justify-content: space-between;
    }

    .grid-1-col-1 {
        grid-area: col-1;
    }

    .grid-1-col-2 {
        grid-area: col-2;

    }

    .grid-2 {
        display: grid;
        grid-template-rows: 45% 45%;
        grid-template-areas: "row-1" "row-2";
        align-content: space-between;
    }

    .grid-2-row-1 {
        grid-area: row-1;
    }

    .grid-2-row-2 {
        grid-area: row-2;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "item-1 item-2 item-3"
            "item-4 item-5 item-6";
        justify-content: space-between;
    }

    .grid-3-item-1 {
        grid-area: item-1;
    }

    .grid-3-item-2 {
        grid-area: item-2;
    }

    .grid-3-item-3 {
        grid-area: item-3;
    }

    .grid-3-item-4 {
        grid-area: item-4;
    }

    .grid-3-item-5 {
        grid-area: item-5;
    }

    .grid-3-item-6 {
        grid-area: item-6;
    }

    /* .grid-3-item-1,
    .grid-3-item-2,
    .grid-3-item-3,
    .grid-3-item-4,
    .grid-3-item-5,
    .grid-3-item-6 {
        margin: 20px;
    } */

}