@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

/* layout start */
.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

.d-row {
    flex-direction: row;
}

.d-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

/* layout end */

/* navbar start */

.nav-list-item {
    display: inline;
}

.nav-list-item:not(:last-child) {
    /* display: inline; */
    padding-right: 16px;
}

/* navbar end */

/* font strt */
.font-1 {
    font-size: .5em;
}

.font-2 {
    font-size: 1em;
}

.font-3 {
    font-size: 1.5em;
}

.font-4 {
    font-size: 2em;
}

.font-5 {
    font-size: 3em;
}

.font-6 {
    font-size: 4em;
}

.font-10 {
    font-size: 15em;
}

.font-bold {
    font-weight: bold;
}

.font-weight-4 {
    font-weight: 400;
}

.font-weight-6 {
    font-weight: 600;
}

.font-weight-9 {
    font-weight: 900;
}

/* font end */

/* padding start */
.p-0 {
    padding: 0;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}

.p-3 {
    padding: 20px;
}

.p-4 {
    padding: 24px;
}

.p-5 {
    padding: 30px;
}

.p-6 {
    padding: 40px;
}

/* x */
.px-0 {
    padding-inline: 0;
}

.px-1 {
    padding-inline: 8px;
}

.px-2 {
    padding-inline: 16px;
}

.px-3 {
    padding-inline: 20px;
}

.px-4 {
    padding-inline: 24px;
}

.px-5 {
    padding-inline: 30px;
}

.px-6 {
    padding-inline: 40px;
}

/* y */
.py-0 {
    padding-block: 0;
}

.py-1 {
    padding-block: 8px;
}

.py-2 {
    padding-block: 16px;
}

.py-3 {
    padding-block: 20px;
}

.py-4 {
    padding-block: 24px;
}

.py-5 {
    padding-block: 30px;
}

.py-6 {
    padding-block: 40px;
}

/* padding end */

/* margin start */
.m-0 {
    margin: 0;
}

.m-1 {
    margin: 8px;
}

.m-2 {
    margin: 16px;
}

.m-3 {
    margin: 20px;
}

.m-4 {
    margin: 24px;
}

.m-5 {
    margin: 30px;
}

.m-6 {
    margin: 40px;
}

/* x */
.mx-0 {
    margin-inline: 0;
}

.mx-1 {
    margin-inline: 8px;

}

.mx-2 {
    margin-inline: 16px;
}

.mx-3 {
    margin-inline: 20px;
}

.mx-4 {
    margin-inline: 24px;
}

.mx-5 {
    margin-inline: 30px;
}

.mx-6 {
    margin-inline: 40px;
}

/* y */
.my-0 {
    margin-block: 0;
}

.my-1 {
    margin-block: 8px;
}

.my-2 {
    margin-block: 16px;
}

.my-3 {
    margin-block: 20px;
}

.my-4 {
    margin-block: 24px;
}

.my-5 {
    margin-block: 30px;
}

.my-6 {
    margin-block: 40px;
}

/* margin end */


/* color start */
.bg-none {
    background-color: transparent;
}

.bg-red {
    background-color: rgb(170, 1, 1);
}

.bg-blue {
    background-color: rgb(2, 2, 199);
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-violet {
    background-color: violet;
}

.bg-black {
    background-color: black;
}

.color-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.color-black {
    color: black;
}

.color-gray {
    color: gray;
}

.color-purple {
    color: #6941C6;
}

/* color end */

/* border start */
.border-none {
    border: none;
}

.border-purple {
    border: #6941C6 solid 1px;
}

.border-radius-8 {
    border-radius: 8px;
}

.border-radius-30 {
    border-radius: 30px;
}

/* border end */

/*  */
.title {
    font-size: 1em;
}

.line {
    border-bottom: 1px gray solid;
}

.line-light {
    border-bottom: 1px rgb(218, 218, 218) solid;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.decoration-underline {
    text-decoration: underline;
}

.menu-icon {
    display: block;
}

.navbar {
    display: none;
}